/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: 0.1em;
}

.heroes a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  text-decoration: none;
  background-color: #eee;
  margin: 0.5em;
  padding: 1rem 0.3rem;
  height: 1.6em;
  border-radius: 4px;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.addHeroSection {
  padding: 2rem 3rem;
}

.addHeroSection input {
  height: 30px;
  border: 1px solid #999;
  border-radius: 3px;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c3a41;
  color: #fff;
  width: 50px;
  height: 50px;
}
