<div class="heroesContainer">
  <ul class="heroes">
    <h2>My Heroes</h2>
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{ hero.id }}">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
        <button
          type="button"
          class="delete"
          title="delete hero"
          (click)="delete(hero, $event)"
        >
          x
        </button>
      </a>
    </li>
  </ul>
  <section class="addHeroSection">
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <button
      type="button"
      class="add-button"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Add hero
    </button>
  </section>
</div>
